<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ΣΧΕΤΙΚΑ</h3>
    <hr>
    <h3>Σχετικά</h3>
    <p>
      Εδώ δημοσιεύεται κάθε μαγάλη ή μικρή αλλαγή του Teenager.
    </p>

    <br>
    <h3>Προτάσεις</h3>
    <p>
    	Οτιδήποτε θέλετε να βελτιωθεί ή να προστεθεί, ενημερώστε και επικοινωνήστε.
    </p>	
  </div>
</div>