<% if current_user.try(:blogpublisher?) %>	
	<div id="page_wrapper">
		<h1>Edit Post</h1>
		<%= render 'form' %>
	</div>
<% else %>
	<h2>Δεν είσαι ο admin. Δεν μπορείς να επεξεργαστείς αυτό το post.</h2>
<% end %>
